extends layout

block main
  .main
    .hero
      hgroup.hgroup
        h2.subtitle Lorem ipsum dolor set
        h1.maintitle Lorem Ipsum Blog
        
      .icon-bar
        img(src="/img/box-icon.svg")
    
    block content
