extends post-layout

block content  
  if post.tags
    h4.tags-container
      span.tags-list
        - var tags = post.tags && post.tags.length > 1 ? post.tags.slice(0,-1).join(", ") + " & " + post.tags.slice(-1) : post.tags[0]
        = tags
        
  h3.post-title= post.title
  .post-body!= post.body
