doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Roots Blog Admin
    link(href='http://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Muli:300', rel='stylesheet')
    link(rel="stylesheet" href="//cms.netlify.com/assets/cms.css")
    != css('/')
    
    base(href="/admin/")
  body
    script(type="text/x-handlebars" data-template-name='cms/application')
      header.header
        .container
          ul.main-nav.nav
            li
              {{cms-breadcrumbs}}
            
          .secondary-nav!= '<a href="#" {{action "logout"}}>Log Out</a>'
      
      {{outlet}}
      
      footer.footer
        .disclaimer.
          &copy; Someone Somewhere &mdash; this blog is fiction, all references to real persons or events are purely coincidential
          
      
    script(src="//cms.netlify.com/assets/vendor.js")
    script(src="//cms.netlify.com/assets/cms.js")
